
<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    <title>Scenes for Teens</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
        
        <!-- Header -->
        <header id="header">
            <div class="inner">

                <!-- Logo -->
                <a href="index.html" class="logo">
                    <!--<span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">Scenes for Teens: Atlanta</span>-->

                    <div class="box alt">
                        <div class="row gtr-uniform">
                            <div class="col-12"><span class="image fit"><img src="images/atlanta.jpg" alt="" /></span><span class="title">Scenes for Teens: Atlanta</span></span>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- Nav -->
                <nav>
                    <ul>
                        <li><a href="#menu">Menu</a></li>
                    </ul>
                </nav>

            </div>
        </header>


        <!-- Menu -->
        <nav id="menu">
            <h2>Menu</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="/camps">Camps</a></li>
                <li><a href="https://www.linkedin.com/jobs/search?distance=25&locationId=PLACES%2Eus%2E8-4-0-60-2&f_E=2&f_JT=PART_TIME&orig=FCTD&trk=jobs_jserp_facet_exp">Jobs</a></li>
                <li><a href="/Volunteer">Vonlunteer Options</a></li>
                <li><a href="/Events">Events</a></li>
                <li><a href="generic.html">About Us</a></li>
            </ul>
        </nav>

        					<div id="main">
						<div class="inner">
        <section>
            <div class="row">
                <div class="col-6 col-12-medium">
                    <h3>Your Camps</h3>
                </div>
            </div>
        </section>
        <h3>You Chose Adventure Camps!</h3>
        <p>
        Animal Camp Jamaica is a Teen Travel and Adventure program 
        hosted on the goregous island of Jamaica! Spend every morning
        snorking the Caribbean and every afternoon on an adventure! Click, 
        <a href=http://www.animalcampjamaica.com> here </a></p>
        <p>
        Travel Camp, aimed at kids ages 12-16, is a fast-paced, action-packed specialty
        camp designed for the fun-seeking teen who enjoys the outdoors and the adventure 
        of trying new things. Travel Campers will explore an exciting
        destination every day. Such excursions and activities include hiking, 
        tubing, swimming, bowling, skating, malls, museums, parks, movie theaters, 
        amusement parks and overnight camping trips. Members cost: $179 per week;
        program members: $189. Week of May 31-June 3. For more information about 
        other camps for this and other camps throughout the summer and to register,
        click <a href=http://ymcaatlanta.org/.> here </a></p>
          <p>
       Camp Greenville is all about its campers. A traditional overnight adventure 
       camp for girls and boys, ages 5 – 18, Camp Greenville offers the best of both 
       worlds – the classic, loved summer camp of the past, adapted to the needs of 
       today’s children and parents. Campers enjoy a balanced mix of adventure, fun, 
       and tradition, all in a beautiful mountaintop setting. Our back to basics approach
       – screen-free, no phones, no internet – lets campers connect with nature and themselves. 
       Kids have the support of Camp Greenville’s unique cabin system and outstanding counselors, 
       giving campers the security of family and the confidence to make new friendships and develop 
       independence. Most of all Camp Greenville’s campers have fun, making memories to last beyond
       the summer. Most of our counselors are former campers themselves, and go on to send their own 
       children to Camp Greenville– it’s an experience that lasts a lifetime.
        <a href=https://campgreenville.org/summer-camp/> here </a></p>
        <p>
        Each summer, thousands of campers visit the beautiful mountain campuses of
        Berry College, Truett-McConnell University, Young Harris College, and the
        majestic retreat at Cohutta Springs to experience the summer of a lifetime. 
        In 2019, we'll be expanding our offerings outside of Georgia to Gardner-Webb 
        University! Boy campers attend one-week overnight camp at Cleveland and Gardner-Webb 
        and two-week camp experiences at Mt. Berry. Girl campers experience our one-week
        overnight camp at Young Harris, Gardner-Webb, and Cohutta Springs and enjoy the 
        two-week experiences at Mt. Berry.
        <a href=https://camps.winshape.org/overnight-camps/> here </a></p>
        <p>
        In 2018, Camp Winnataska celebrates its one hundred year anniversary of inspiring 
        campers to become like  "knights in the days of old."   At the threshold of its 
        second century, Winnataska beckons a new generation of campers to come take part
        in unique Camp Winnataska traditions, grow in their faith, cultivate friendships, 
        and experience new high-adventure programming.
        <a href=https://www.winnataska.org> here </a></p>
        </div>
        </div>
        <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/browser.min.js"></script>
        <script src="assets/js/breakpoints.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>

</body>

</html>

