<!--<!DOCTYPE html> -->
<!--<html>-->
<!--    <head>-->
<!--        <title>Educational Camps</title>-->
<!--    </head>-->
<!--    <body>-->
<!--        <h1>You Chose Educational Camps!</h1>-->
<!--        <h3>Below are some options for camps that fit that description:</h3>-->
<!--        <ul>-->
<!--            <li>-->
<!--                <a href="http://www.animalcampjamaica.com">Animal Camp Jamaica</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="https://www.idtech.com/locations/georgia-summer-camps/emory-university">iDTech Camps</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </body>-->
<!--</html>-->

<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    <title>Scenes for Teens</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
        
        <!-- Header -->
        <header id="header">
            <div class="inner">

                <!-- Logo -->
                <a href="index.html" class="logo">
                    <!--<span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">Scenes for Teens: Atlanta</span>-->

                    <div class="box alt">
                        <div class="row gtr-uniform">
                            <div class="col-12"><span class="image fit"><img src="images/atlanta.jpg" alt="" /></span><span class="title">Scenes for Teens: Atlanta</span></span>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- Nav -->
                <nav>
                    <ul>
                        <li><a href="#menu">Menu</a></li>
                    </ul>
                </nav>

            </div>
        </header>


        <!-- Menu -->
        <nav id="menu">
            <h2>Menu</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="/camps">Camps</a></li>
                <li><a href="https://www.linkedin.com/jobs/search?distance=25&locationId=PLACES%2Eus%2E8-4-0-60-2&f_E=2&f_JT=PART_TIME&orig=FCTD&trk=jobs_jserp_facet_exp">Jobs</a></li>
                <li><a href="/Volunteer">Vonlunteer Options</a></li>
                <li><a href="/Events">Events</a></li>
                <li><a href="generic.html">About Us</a></li>
            </ul>
        </nav>

        					<div id="main">
						<div class="inner">
        <section>
            <div class="row">
                <div class="col-6 col-12-medium">
                    <h3>Your Camps</h3>
                </div>
            </div>
        </section>
        <h3>You Chose Either Educational Camps!</h3>
        <p>
       At iD Tech, kids and teens of all skill levels discover coding, AI, machine learning,
       film, robotics, and game design, developing the in-demand skills needed to compete at
       Atlanta area companies like Microsoft, Google, Foxtail Games, and more. Emory is ranked
       a top 50 national university by US News & World Report. Click
        <a href=https://www.idtech.com/locations/georgia-summer-camps/emory-university> here </a></p>
        <p>
          Inspired by iD Tech co-founder Alexa Ingram-Cauchi, our all-girls program blends tech, 
          entrepreneurship, and social activism in a fresh, café-like setting. Big ideas come
          to life amidst moon chairs and stylish decor. Whether you want to code an app for
          charity, design a mobile game, or engineer wearable electronics, you'll collaborate
          with new friends and create a project you're passionate about.
       Click
        <a href=https://www.idtech.com/alexa-cafe> here </a></p>
        </div>
        </div>
        <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/browser.min.js"></script>
        <script src="assets/js/breakpoints.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>

</body>

</html>