<!--<!DOCTYPE html> -->
<!--<html>-->
<!--    <head>-->
<!--        <title>Adventure Camps- Overnight</title>-->
<!--    </head>-->
<!--    <body>-->
<!--        <h1>You Chose Overnight Adventure Camps!</h1>-->
<!--        <h3>Below are some options for camps that fit that description:</h3>-->
<!--        <ul>-->
<!--            <li>-->
<!--                <a href="https://campgreenville.org/summer-camp/">Camp Greenville</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="https://camps.winshape.org/overnight-camps/">Winshape Camps</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </body>-->
<!--</html>-->

<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    <title>Scenes for Teens</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
        
        <!-- Header -->
        <header id="header">
            <div class="inner">

                <!-- Logo -->
                <a href="index.html" class="logo">
                    <!--<span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">Scenes for Teens: Atlanta</span>-->

                    <div class="box alt">
                        <div class="row gtr-uniform">
                            <div class="col-12"><span class="image fit"><img src="images/atlanta.jpg" alt="" /></span><span class="title">Scenes for Teens: Atlanta</span></span>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- Nav -->
                <nav>
                    <ul>
                        <li><a href="#menu">Menu</a></li>
                    </ul>
                </nav>

            </div>
        </header>


        <!-- Menu -->
        <nav id="menu">
            <h2>Menu</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="/camps">Camps</a></li>
                <li><a href="https://www.linkedin.com/jobs/search?distance=25&locationId=PLACES%2Eus%2E8-4-0-60-2&f_E=2&f_JT=PART_TIME&orig=FCTD&trk=jobs_jserp_facet_exp">Jobs</a></li>
                <li><a href="/Volunteer">Vonlunteer Options</a></li>
                <li><a href="/Events">Events</a></li>
                <li><a href="generic.html">About Us</a></li>
            </ul>
        </nav>

        					<div id="main">
						<div class="inner">
        <section>
            <div class="row">
                <div class="col-6 col-12-medium">
                    <h3>Your Volunteer Opportunities</h3>
                </div>
            </div>
        </section>
        <h3>You Chose Volunteer Opportunities That Center Around The Environment!</h3>
        <p>
        The Kennesaw Mountain Trail Club (KMTC) is a group of volunteers dedicated 
        to preserving the beauty & history of Kennesaw Mountain National Battlefield 
        Park. Since our beginning in 2002, the Trail Club has contributed over 101,688 
        volunteer hours donated by the public to enhance the trail system within the park! 
        <a href=http://kennesawmountaintrailclub.org/volunteer.php> here </a></p>
        <p>
        Founded in 1985, Trees Atlanta works tirelessly to address Atlanta’s tree loss, 
        protect its forests, and create new green space. Empowered by its wonderful 
        community of volunteers, Trees Atlanta serves the metro Atlanta area, and has 
        grown to become one of Atlanta’s most widely known and supported non-profit 
        organizations. Our mission statement: Trees Atlanta is a nationally recognized 
        non-profit citizens' group that protects and improves Atlanta’s urban forest by 
        planting, conserving, and educating.
        <a href=https://www.treesatlanta.org> here </a></p>
        <p>
        The West Atlanta Watershed Alliance (WAWA) is a community-based non-profit 
        organization whose mission is to improve the quality of life within the West 
        Atlanta Watershed by protecting, preserving and restoring our community’s natural 
        resources. WAWA represents African American neighborhoods in Northwest and Southwest 
        Atlanta that are most inundated with environmental stressors, but are least represented 
        at environmental decision-making tables.
        <a href=http://wawa-online.org> here </a></p>
        </div>
        </div>
        <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/browser.min.js"></script>
        <script src="assets/js/breakpoints.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>

</body>

</html>

