<!DOCTYPE html>
<html>
    <head>
        <title>Find Events Near You</title>
            <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    </head>
    <body class="is-preload">
     <!--Wrapper -->
    <div id="wrapper">

         <!--Header -->
        <header id="header">
            <div class="inner">

                 <!--Logo -->
                <a href="index.html" class="logo">
                    <!--<span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">Scenes for Teens: Atlanta</span>-->

                    <div class="box alt">
                        <div class="row gtr-uniform">
                            <div class="col-12"><span class="image fit"><img src="images/atlanta.jpg" alt="" /></span><span class="title">Scenes for Teens: Atlanta</span></span>
                            </div>
                        </div>
                    </div>
                </a>
                 <!--Nav -->
                <nav>
                    <ul>
                        <li><a href="#menu">Menu</a></li>
                    </ul>
                </nav>

            </div>
        </header>
        <h1>Take this short quiz to find the perfect summer events for you!</h1>
        <form method="post" action="/events_results">
            <p>What type of event are you interested in?</p>
            <div class="col-4 col-12-small">
            <input type="radio" id="demo-priority-low" name="category" value="10" checked>
            <label for="demo-priority-low">Music/Art</label>
            </div>
            <div class="col-4 col-12-small">
            <input type="radio" id="demo-priority-normal" name="category" value="20" checked>
            <label for="demo-priority-normal">Sports</label>
            </div>
            <div class="col-4 col-12-small">
            <input type="radio" id="demo-priority-high" name="category" value="30" checked>
            <label for="demo-priority-high">Food/Drink</label>
            </div>
            <br>
            <p>What is your price range?</p>
            <div class="col-4 col-12-small">
            <input type="radio" id="demo-priority-a" name="price" value="1" checked>
            <label for="demo-priority-a">$</label>
            </div>
            <div class="col-4 col-12-small">
            <input type="radio" id="demo-priority-b" name="price" value="2" checked>
            <label for="demo-priority-b">$$</label>
            </div>
            <div class="col-4 col-12-small">
            <input type="radio" id="demo-c" name="price" value="3" checked>
            <label for="demo-priority-c">$$$</label>
            </div>
            <br>
            <input type="submit" value="Get your results!">
        </form>
                
                 <!--Menu -->
        <nav id="menu">
            <h2>Menu</h2>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/camps">Camps</a></li>
                <li><a href="https://www.linkedin.com/jobs/search?distance=25&locationId=PLACES%2Eus%2E8-4-0-60-2&f_E=2&f_JT=PART_TIME&orig=FCTD&trk=jobs_jserp_facet_exp">Jobs</a></li>
                <li><a href="/volunteer">Volunteer Options</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="generic.html">About Us</a></li>
            </ul>
        </nav>
    </div>


     <!--Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
    </body>
</html>