<!--<!DOCTYPE html> -->
<!--<html>-->
<!--    <head>-->
<!--        <title>Adventure Camps- Overnight</title>-->
<!--    </head>-->
<!--    <body>-->
<!--        <h1>You Chose Overnight Adventure Camps!</h1>-->
<!--        <h3>Below are some options for camps that fit that description:</h3>-->
<!--        <ul>-->
<!--            <li>-->
<!--                <a href="https://campgreenville.org/summer-camp/">Camp Greenville</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="https://camps.winshape.org/overnight-camps/">Winshape Camps</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </body>-->
<!--</html>-->

<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    <title>Scenes for Teens</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
        
        <!-- Header -->
        <header id="header">
            <div class="inner">

                <!-- Logo -->
                <a href="index.html" class="logo">
                    <!--<span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">Scenes for Teens: Atlanta</span>-->

                    <div class="box alt">
                        <div class="row gtr-uniform">
                            <div class="col-12"><span class="image fit"><img src="images/atlanta.jpg" alt="" /></span><span class="title">Scenes for Teens: Atlanta</span></span>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- Nav -->
                <nav>
                    <ul>
                        <li><a href="#menu">Menu</a></li>
                    </ul>
                </nav>

            </div>
        </header>


        <!-- Menu -->
        <nav id="menu">
            <h2>Menu</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="/camps">Camps</a></li>
                <li><a href="https://www.linkedin.com/jobs/search?distance=25&locationId=PLACES%2Eus%2E8-4-0-60-2&f_E=2&f_JT=PART_TIME&orig=FCTD&trk=jobs_jserp_facet_exp">Jobs</a></li>
                <li><a href="/Volunteer">Vonlunteer Options</a></li>
                <li><a href="/Events">Events</a></li>
                <li><a href="generic.html">About Us</a></li>
            </ul>
        </nav>

        					<div id="main">
						<div class="inner">
        <section>
            <div class="row">
                <div class="col-6 col-12-medium">
                    <h3>Your Food</h3>
                </div>
            </div>
        </section>
        <h3>You Chose Events That Center Around Food!</h3>
        <p>
        The Georgia Peach Festival honors peach growers for their contribution to
        our state's economy and to the food industry nationwide.
        The annual week-long Festival attracts as many as 10,000 visitors including
        church groups, senior groups and charter bus tours. The Georgia Peach Festival
        splits events between Peach County's two cities, Byron and Fort Valley, each June.
        <a href=http://www.gapeachfestival.com> here </a></p>
        <p>
        The Atlanta Ice Cream Festival offers a variety of activities for the whole 
        family that showcases how living a balanced lifestyle can include lots of fun! 
        From our Ice Cream Eating Contest for both kids and adults to our Wellness 
        Activities which include Boom Shock Fitness, Exercise Routines, Yoga and Chinese 
        Exercises from Falun Dafa Association of Atlanta, the festival has lots of fun to choose.
        <a href=https://www.atlantaicecreamfestival.com/> here </a></p>
        </div>
        </div>
        <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/browser.min.js"></script>
        <script src="assets/js/breakpoints.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>

</body>

</html>

