

<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    <title>Scenes for Teens</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
        
        <!-- Header -->
        <header id="header">
            <div class="inner">

                <!-- Logo -->
                <a href="index.html" class="logo">
                    <!--<span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">Scenes for Teens: Atlanta</span>-->

                    <div class="box alt">
                        <div class="row gtr-uniform">
                            <div class="col-12"><span class="image fit"><img src="images/atlanta.jpg" alt="" /></span><span class="title">Scenes for Teens: Atlanta</span></span>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- Nav -->
                <nav>
                    <ul>
                        <li><a href="#menu">Menu</a></li>
                    </ul>
                </nav>

            </div>
        </header>


        <!-- Menu -->
        <nav id="menu">
            <h2>Menu</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="/camps">Camps</a></li>
                <li><a href="https://www.linkedin.com/jobs/search?distance=25&locationId=PLACES%2Eus%2E8-4-0-60-2&f_E=2&f_JT=PART_TIME&orig=FCTD&trk=jobs_jserp_facet_exp">Jobs</a></li>
                <li><a href="/Volunteer">Vonlunteer Options</a></li>
                <li><a href="/Events">Events</a></li>
                <li><a href="generic.html">About Us</a></li>
            </ul>
        </nav>

        					<div id="main">
						<div class="inner">
        <section>
            <div class="row">
                <div class="col-6 col-12-medium">
                    <h3>Your Music</h3>
                </div>
            </div>
        </section>
        <h3>You Chose Events That Center Around Music and Art!</h3>
        <p>
        RITP is a free to the public, music and culture festival with live 
        performances from local and not-so-local bands, artists and DJ’s, 
        amazing international food court and market. Started in 2014 has a 
        small community get-together we organically grown into one of the 
        biggest reggae festivals in the southeast. We at RITP have always 
        promoted unity and togetherness under the banner of Reggae music 
        and culture. This brought about our slogan "No Clicks. No Crews. 
        One Love. BeREGGAE." and has been a beacon to every lover of this 
        culture to come as you are and spread love.
        <a href=https://www.eventbrite.com/e/atlantas-reggae-in-the-park-5-tickets-43990437583?aff=ebdssbcitybrowse> here </a></p>
        <p>
        Visit Atlanta’s Nature Destination today--the Chattahoochee Nature 
        Center in Roswell, Georgia. Join us for community events for children, 
        families and adults. Enjoy wildlife programs, hiking, environmental 
        education, horticulture & more!
        <a href=http://www.chattnaturecenter.org/special-events/festivals/butterfly-festival/#/> here </a></p>
        </div>
        </div>
        <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/browser.min.js"></script>
        <script src="assets/js/breakpoints.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>

</body>

</html>

