<!--<!DOCTYPE html> -->
<!--<html>-->
<!--    <head>-->
<!--        <title>Adventure Camps- Overnight</title>-->
<!--    </head>-->
<!--    <body>-->
<!--        <h1>You Chose Overnight Adventure Camps!</h1>-->
<!--        <h3>Below are some options for camps that fit that description:</h3>-->
<!--        <ul>-->
<!--            <li>-->
<!--                <a href="https://campgreenville.org/summer-camp/">Camp Greenville</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="https://camps.winshape.org/overnight-camps/">Winshape Camps</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </body>-->
<!--</html>-->

<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    <title>Scenes for Teens</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
        
        <!-- Header -->
        <header id="header">
            <div class="inner">

                <!-- Logo -->
                <a href="index.html" class="logo">
                    <!--<span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">Scenes for Teens: Atlanta</span>-->

                    <div class="box alt">
                        <div class="row gtr-uniform">
                            <div class="col-12"><span class="image fit"><img src="images/atlanta.jpg" alt="" /></span><span class="title">Scenes for Teens: Atlanta</span></span>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- Nav -->
                <nav>
                    <ul>
                        <li><a href="#menu">Menu</a></li>
                    </ul>
                </nav>

            </div>
        </header>


        <!-- Menu -->
        <nav id="menu">
            <h2>Menu</h2>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="/camps">Camps</a></li>
                <li><a href="https://www.linkedin.com/jobs/search?distance=25&locationId=PLACES%2Eus%2E8-4-0-60-2&f_E=2&f_JT=PART_TIME&orig=FCTD&trk=jobs_jserp_facet_exp">Jobs</a></li>
                <li><a href="/Volunteer">Vonlunteer Options</a></li>
                <li><a href="/Events">Events</a></li>
                <li><a href="elements.html">Elements</a></li>
            </ul>
        </nav>

        					<div id="main">
						<div class="inner">
        <section>
            <div class="row">
                <div class="col-6 col-12-medium">
                    <h3>Sports Camps</h3>
                </div>
            </div>
        </section>
        <h3>You Chose Overnight Sports Camps!</h3>
        <p>
        This camp is specifically designed for players, both boys and girls, 
        who are looking for well-rounded clinical instruction tailored for all 
        levels of experience. The staff will conduct three daily sessions as well 
        as be available to campers for personalized instruction before and after 
        each session. Even beginner players are welcome to the camp. We routinely 
        have numerous first timer players attend our camps. Campers will be divided 
        into three divisions based on age and experience. 
        <a href=http://www.gtlacrosse.com/camps/camps_landing_page> here </a></p>
        <p>
       Eagle Community Swimming provides quality swim programming to adults and 
       children in Atlanta, GA. The majority of our staff are Emory Swimming & Diving 
       coaches and student-athletes. Programming targets all ages and ability levels 
       and encourages family participation. At the core of all our programs is a philosophy 
       centered around technique development, aquatic safety, fitness, and fun.
       Eagle Community Swimming offers group swim lessons, private swim lessons, 
       the summer Cudas Swim Team, the winter Eagles Swim Team, and Masters swimming. 
       (OTHER SPORT CAMPS AVAILABLE THROUGH EMORY AS WELL.)
        <a href=http://www.emoryathletics.com/General/EmorySportsCamps/index> here </a></p>
        <p>
        Sports Camps are for athletes and coaches who want to develop their athletic 
        skills. Outstanding instruction, skill development and intense competition prepare 
        the camper for future athlete competition. Sports Camps include Sport-Specific camps 
        in which the camper selects one sport for the entire camp experience, and Multi-Sport 
        camps in which the camper is trained in a specific sport and competes in a variety of 
        sports as a Huddle.
        <a href=http://www.fcacamps.org/types/sports/> here </a></p>
        </div>
        </div>
        <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/browser.min.js"></script>
        <script src="assets/js/breakpoints.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>

</body>

</html>

